%h1 Flights

= render 'search_form'

- unless @flights.nil?

  = form_tag '/bookings/new', method: 'get' do
    %table#flight-table(border)
      %tr
        %th Select
        %th Flight #
        %th Date
        %th Departure Time
        %th From
        %th To
        %th Duration

      - @flights.each do |flight|
        %tr
          %td= radio_button_tag(:flight_id, flight.id)
          %td= flight.flight_number
          %td= flight.date
          %td= flight.departure_time.strftime("%I:%M %p") 
          %td= flight.from_airport.airport_code
          %td= flight.to_airport.airport_code
          %td= "#{flight.duration} hours"
    = submit_tag("Create booking")